@font-face {
    font-family: "Sweaty Belvin";
    src: url(../assets/SweatyBelvin.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

html,
body,
#app {
    margin: 0;
    padding: 0;
    min-height: 400px;
    height: 100vh;
    font-family: "Sweaty Belvin";
    color: #ffffff;
    background-color: transparent;
    user-select: none;
}

body.modal--open {
    overflow: hidden;
}

#app {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1 {
    font-size: 54px;
}

button {
    padding: 8px;
    width: 300px;
    margin: 16px;

    color: #ffffff;

    border: 2px solid #E0E300;
    background-color: #1156FC;
    border-radius: 4px;

    font-size: 16px;
    font-family: "Futura PT";
    text-transform: uppercase;
    font-weight: 600;

    cursor: pointer;

    transition: all linear 100ms;
}

button:hover {
    box-shadow: 0 0 15px #E0E300;
}

button:disabled {
    background-color: rgba(255, 255, 255, 0.15);
}

a {
    text-decoration: none;
}

.spacer {
    flex: 1 1 auto;
}
